/* --- SIGN IN PAGE --- */
.signin-page {
  min-height: 100vh;
  background-image: url('/images/imagenesdefondo/soberbioBistroistro.jpg');
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding-top: 250px;
}

.signin-form {
   background: rgba(50, 50, 50, 0.7);
  color: white;
  padding: 1.5rem;
  border-radius: 12px;
  width: 90%;
  max-width: 400px;
}

.signin-form label {
  display: block;
  margin-top: 12px;
}

.signin-form input {
  width: 100%;
  padding: 8px;
  margin-top: 4px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.signin-form button {
  width: 100%;
  padding: 10px;
  margin-top: 16px;
}

.signin-form .form-text {
  margin-top: 12px;
  text-align: center;
}

.signin-page footer {
  margin-top: auto;
}

.signin-page hr {
  margin-top: 2rem;
}